<style>
    .req{
        color: red;
        font-size: 14px;
    }
    .card{
        border: none;
        border-top: 3px solid #17a2b8 ;
    }
    .modal-header{
        border: none;
        border-top: 3px solid #17a2b8 ;
        border-bottom: 1px solid lightgray;
    }
    h4{
        color: #17a2b8;
    }
</style>
<section class="content ">
    
    <div class="container-fluid py-4" id="categoryListingSection">
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="m-0">Today Sale Report</h4>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive col-md-12">
                <table dir="rtl" class="table table-sm table-bordered" 
                id="example1">
                <!-- <caption>List of Customer</caption> -->
                    <thead class="thead-light">
                        <tr>
                            <th class="text-right urduName">اکاونٹ نمبر</th>
                            <th class="text-right urduName">صارف</th>
                            <th class="text-right urduName">پروڈکٹ کا نام</th>
                            <th class="text-right urduName">مقدار</th>
                            <th class="text-right urduName">رقم</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="customer_list in list" >
                            <td class="align-middle text-right">{{ customer_list.c_id }}</td>
                            <td class="align-middle text-right urduName">{{ customer_list.name }}</td>
                            <td class="align-middle text-right urduName">{{ customer_list.label }}</td>
                            <td class="align-middle text-right">{{customer_list.quantity}}</td>
                            <td class="align-middle text-right">{{customer_list.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script> 
    $('.select2').select2();
    function abc(){
        setTimeout(function(){
            $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,"ordering": false,"info":false,
            "columnDefs": [{
                "visible": true,
                "targets": -1
            }],
            // "language": {
            // "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
            // },
            buttons: [
            {
                extend: 'print',
                title: '',
                // exportOptions: {
                //     columns: [ 0, 1, 2, 3, 4 ]
                // },
                orientation: 'portrait',
                pageSize: 'A4',
                footer: false,
                customize: function ( win ) {
                    $(win.document.body)
                        .css( 'font-size', '10pt' )
                        .prepend(
                            '<div>',
                                '<h1 class="urduName text-center">رانا عدنان اینڑ برادرز مارکہ </h1>',
                                '<h5 class="urduName text-center" style="margin-top:20px;"><span>38/A</span><span> &nbsp; &nbsp; نیوسبزی منڑی صادق آباد</span><span>&nbsp; &nbsp; دکان نمبر</span></h5>',
                                '<h4 class="text-dark" style="text-align:center;">0302-6819127,0332-7303544 <span class="urduName">راناعدنان</span> </h4>',
                                '<h4 class="text-dark" style="text-align:center;">0300-9860631,0346-7687836 <span class="urduName">راناعبدالرؤف</span> </h4>',
                                '<h6 class="urduName text-right">گاہک کی تفصیلات</h6>',
                            '</div>',
                        );
 
                    $(win.document.body).find( 'table' )
                        .addClass( 'compact' )
                        .css( 'font-size', 'inherit' )
                        .css('direction', 'rtl')
                        .css('font-family', 'Noto Nastaliq Urdu');

                    // $(win.document.body).find('table thead tr')
                    //     .append("<th>وصول شدہ</th>");
                    // $(win.document.body).find('table tbody tr')
                    //     .append("<td></td>");
                                
                }
            }
        ]
            // "buttons": [
            //     {
            //         extend: 'print',
            //         text: '<i class="fas fa-print"></i>',
            //         titleAttr: 'Imprimir',
            //         className: 'btn btn-info',
            //         columns: ':not(.action)',
            //         orientation: 'landscape',
                    
            //     }
            // ]
            // "buttons": ["print"]
            // <img src="public/dist/img/avatar.png" alt="">
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        }, 2000);
    }

    abc();
 
</script>
    
</script>